@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>

<head>
</head>
<body>
    <div class="container-fluid">
        <div class="row align-items-start">
            <div class="col-sm-2">
                <partial name="SideBar" />
            </div>
            <div class="col-sm-8">
                <h1>Match View</h1>
            </div>
        </div>
    </div>
</body>
</html>