
<div class="row">
    <div class="col">
        <img src="~/Images/account.png" class="rounded" alt="..." height="36px">
        @User.Identity?.Name
    </div>
</div>

<div class="row">
    <div class="col">
        Matches
    </div>
    <div class="col">
        Messages
    </div>
</div>


<div class="row">
    <div class="text-center">
    </div>
</div>

<div class="row">
    <div class="text-center">
        <partial name="_LoginPartial" />
    </div>
</div>



